aioboto3==14.1.0
aiofiles==24.1.0
asyncpg==0.28.0
cryptography==44.0.2
fastapi==0.115.11
httpx==0.28.1
kombu==5.5.0
pandas==2.2.3
passlib==1.7.4
Pillow==11.1.0
polib==1.2.0
prometheus_client==0.21.1
psutil==7.0.0
pydantic>=2.6.0
pyodbc==5.2.0
pytest==8.3.5
pytest_asyncio==0.25.3
python_jose==3.3.0
python_json_logger==3.3.0
Requests==2.32.3
SQLAlchemy==2.0.39
starlette==0.46.1
structlog==25.2.0
typer==0.15.2
uvicorn==0.34.0
