fastapi~=0.115.11
uvicorn[standard]~=0.23.2
pydantic[email]~=2.4.2
pydantic-settings~=2.0.3
sqlalchemy[asyncio]~=2.0.22
asyncpg~=0.28.0
alembic~=1.12.0
python-jose[cryptography]~=3.3.0
passlib[bcrypt]~=1.7.4
python-multipart~=0.0.6
elasticsearch[async]~=8.10.0
redis~=5.0.1
httpx~=0.25.0
types-redis~=4.6.0
types-passlib~=1.7.7
types-python-jose~=3.3.4
tenacity~=8.2.3
Pillow~=10.0.0
